body{
    height: 100vh;
}
/* button{
    width: 50%;
} */
.child_1{
    max-width:100% !important;
    height:100vh;
}
.parent{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}   
.child_2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 50%;
    margin-inline: auto;
    height: auto;
}

.remember_me{
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.signin img{
    border-radius: 2rem;
}
.login,.signin{
    margin-top: 1rem;
    font-size: 1rem;
}
footer{
    margin-top: 5rem;
    width: 80%;
    margin-inline: auto;
    font-size: 0.75rem;
}
a{
    text-decoration: none !important;
}